<div class="settings-content">
    <div class="settings-content-scroll">
        <div class="settings-content-inner">
            @switch (ActiveSection)
            {
                case SettingsSection.Providers:
                    <ProvidersSettingsSection Settings="Settings"
                                              SavedSettings="SavedSettings"
                                              ModifiedProviderIds="ModifiedProviderIds"
                                              SelectedProviderId="@SelectedProviderId"
                                              OnSelectProvider="OnSelectProvider"
                                              OnSettingsChange="OnSettingsChange"
                                              OnSaveCurrentProvider="OnSaveCurrentProvider"
                                              OnTestProvider="OnTestProvider"
                                              OnRemoveProvider="OnRemoveProvider"
                                              OnToggleSelectedModel="OnToggleSelectedModel"
                                              IsSaving="IsSaving"
                                              IsTesting="IsTesting"
                                              SaveError="@SaveError" />
                    break;
                case SettingsSection.McpServers:
                    <McpServersSettingsSection McpServers="McpServers"
                                               ModifiedMcpServerIds="ModifiedMcpServerIds"
                                               SelectedMcpServerId="@SelectedMcpServerId"
                                               OnSelectMcpServer="OnSelectMcpServer"
                                               OnMcpServersChange="OnMcpServersChange"
                                               OnSaveCurrentMcpServer="OnSaveCurrentMcpServer"
                                               OnResetCurrentMcpServer="OnResetCurrentMcpServer"
                                               OnRemoveCurrentMcpServer="OnRemoveCurrentMcpServer"
                                               OnSyncMcpServer="OnSyncMcpServer"
                                               OnToggleSelectedMcpServerEnabled="OnToggleSelectedMcpServerEnabled"
                                               OnToggleSelectedMcpServerTool="OnToggleSelectedMcpServerTool"
                                               IsSavingMcpServer="IsSavingMcpServer"
                                               IsSyncingMcpServer="IsSyncingMcpServer"
                                               IsUpdatingMcpServerTool="IsUpdatingMcpServerTool"
                                               UpdatingMcpServerToolName="@UpdatingMcpServerToolName"
                                               McpServerAuthResetKey="McpServerAuthResetKey"
                                               McpServerError="@McpServerError" />
                    break;
                case SettingsSection.Agents:
                    <AgentsSettingsSection Settings="Settings"
                                           Agents="Agents"
                                           McpServers="McpServers"
                                           OnDeleteAgent="OnDeleteAgent"
                                           OnAgentsChanged="OnAgentsChanged" />
                    break;
                case SettingsSection.Account:
                    <AccountSettingsSection Settings="Settings"
                                            OnSettingsChange="OnSettingsChange" />
                    break;
                case SettingsSection.Appearance:
                    <AppearanceSettingsSection Settings="Settings" />
                    break;
                case SettingsSection.Notifications:
                    <NotificationsSettingsSection Settings="Settings" />
                    break;
                case SettingsSection.Routing:
                    <RoutingSettingsSection Settings="Settings" />
                    break;
                case SettingsSection.Advanced:
                    <AdvancedSettingsSection Settings="Settings"
                                             OnSettingsChange="OnSettingsChange" />
                    break;
            }

            @if (ActiveSection is SettingsSection.Routing or SettingsSection.Appearance or SettingsSection.Notifications)
            {
                <div class="wip-banner">
                    This settings page is still in development (WIP).
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public SettingsSection ActiveSection { get; set; }
    [Parameter] public SettingsState Settings { get; set; } = new();
    [Parameter] public SettingsState SavedSettings { get; set; } = new();
    [Parameter] public HashSet<string> ModifiedProviderIds { get; set; } = [];
    [Parameter] public string? SelectedProviderId { get; set; }
    [Parameter] public EventCallback<string> OnSelectProvider { get; set; }
    [Parameter] public EventCallback<SettingsState> OnSettingsChange { get; set; }
    [Parameter] public EventCallback OnSaveCurrentProvider { get; set; }
    [Parameter] public EventCallback OnTestProvider { get; set; }
    [Parameter] public EventCallback<string> OnRemoveProvider { get; set; }
    [Parameter] public EventCallback<string> OnToggleSelectedModel { get; set; }
    [Parameter] public bool IsSaving { get; set; }
    [Parameter] public bool IsTesting { get; set; }
    [Parameter] public string? SaveError { get; set; }
    [Parameter] public List<McpServerConfigurationItem> McpServers { get; set; } = [];
    [Parameter] public HashSet<string> ModifiedMcpServerIds { get; set; } = [];
    [Parameter] public string? SelectedMcpServerId { get; set; }
    [Parameter] public EventCallback<string> OnSelectMcpServer { get; set; }
    [Parameter] public EventCallback<List<McpServerConfigurationItem>> OnMcpServersChange { get; set; }
    [Parameter] public EventCallback<McpServerAuthEditorState?> OnSaveCurrentMcpServer { get; set; }
    [Parameter] public EventCallback OnResetCurrentMcpServer { get; set; }
    [Parameter] public EventCallback OnRemoveCurrentMcpServer { get; set; }
    [Parameter] public EventCallback OnSyncMcpServer { get; set; }
    [Parameter] public EventCallback OnToggleSelectedMcpServerEnabled { get; set; }
    [Parameter] public EventCallback<string> OnToggleSelectedMcpServerTool { get; set; }
    [Parameter] public bool IsSavingMcpServer { get; set; }
    [Parameter] public bool IsSyncingMcpServer { get; set; }
    [Parameter] public bool IsUpdatingMcpServerTool { get; set; }
    [Parameter] public string? UpdatingMcpServerToolName { get; set; }
    [Parameter] public int McpServerAuthResetKey { get; set; }
    [Parameter] public string? McpServerError { get; set; }
    [Parameter] public IReadOnlyList<AgentDto>? Agents { get; set; }
    [Parameter] public EventCallback<Guid> OnDeleteAgent { get; set; }
    [Parameter] public EventCallback OnAgentsChanged { get; set; }
}
